* {
    
    margin: 0;
    padding: 0;
}

body {
    background: #EDF2F8;
}

ul {
    list-style: none;
}

a { 
    text-decoration: none;
}

h5, h6, p {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}

.card-container {
    display: flex;
    width: 800px;
    border-radius: 20px;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.007),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0),
  0 41.8px 33.4px rgba(0, 0, 0, 0.014),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.image {
    background: url('/images/drawers.jpg') center/cover no-repeat;
    width: 800px;
    border-radius: 20px 0 0 20px;
}

.description {
    background-color: white;
    padding: 40px;
    border-radius: 0 20px 20px 0;
}

.description p{
    color: #92959B;
}

.description h4 {
    color: #515865;
    padding-bottom: 10px;
}

.avatar-desc {
    display: flex;
    flex: 1;
}

.profile {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.avatar-desc-share {
}

.profile-pic {
    border-radius: 100px;
    width: 50px;
}

.profile-disc {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 10px;
}


