// Site Colors

$dark-gray: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: #fff;
$very-dark: hsl(0, 0%, 27%);

// font weights

$font500: 500;
$font600: 600;
$font700: 700;

// 

// Global styles

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $white;
}

p {
    font-size: .8rem;
}

// Utility Classes



// Main content

.main {
    background-color: $white;
    max-width: 1920px;
    margin: auto;
    height: 100vh;
}

.header {
    display: grid;
    min-height: 60vh;
    grid-template-columns: minmax(600px, 4fr) minmax(400px, 3fr);
}

.navbar {
    background: url(/img/nav-image.jpg) center/cover no-repeat;
    color: white;
    position: relative;
}

.left {
    position: absolute;
    background-color: $black;
    height: 90px;
    width: 92px;
    bottom: 0;
    right: -92px;
    text-align: center;
    border: none;
}

.left:hover {
    background-color: $very-dark;
    cursor: pointer;
    transition: all .2s ease-in;
}

.right {
    position: absolute;
    background-color: $black;
    height: 90px;
    width: 92px;
    bottom: 0;
    right: -184px;
    text-align: center;
    border: none;
}

.right:hover {
    background-color: $very-dark;
    cursor: pointer;
    transition: all .2s ease-in;
}

.left svg {
    margin: 35%;
}
.right svg {
    margin: 35%;
}

nav {
    display: flex;
    align-items: center;
    height: 50px;
    width: 85%;
    margin: auto;
    padding-top: 50px;
}

.logo-header {
    font-size: 1.5rem;
    padding-right: 50px;
}

#hamburger,
.menu-toggler i {
    display: none;
}

.links {
    display: flex;
    font-size: .8rem;
    font-weight: 600;
}


.link-item a:hover {
    border-bottom: 1px solid white;
}

.link-item1,
.link-item2,
.link-item3 {
    padding-right: 30px;
}


.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 72%;
    margin: auto;

}

.desc-header {
    font-size: 2.5rem;
    padding-bottom: 30px;
}

.desc-body {
    font-size: .8rem;
    font-weight: 500;
    line-height: 1.3rem;
    color: $dark-gray;
    padding-bottom: 20px;
}

.arrow {
    fill:$very-dark;
}

.shop-now {
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: .7rem;
    color: $very-dark;
    padding-right: 20px;
}

.shop-now:hover {
    color: $dark-gray;
    fill: $dark-gray;
}


.content {
    display: grid;
    min-height: 40vh;
    grid-template-columns: 3fr 4fr 3fr;
}

.img-container1 {
    background: url(/img/image-about-dark.jpg) center/cover no-repeat;
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 84%;
    margin: auto;
}

.about-header {
    font-weight: $font700;
    padding-bottom: 10px;
    letter-spacing: 4px;
}

.about-desc p{
    font-size: .7rem;
    font-weight: 500;
    color: $dark-gray;
    line-height: 1.3rem;
}



.img-container2 {
    background: url(/img/image-about-light.jpg) center/cover no-repeat;
}


// Media Queries

@media screen and (max-width: 1200px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .navbar {
        height: 300px;
    }

    .navbar nav {
        padding: 0;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.521);
        height: 80px;
        width: 100%;
        padding: 0 20px;
    }


    .description {
        width: 80%;
    }

    .desc-header {
        font-size: 26px;
    }

    .desc-body {
        font-size: .9rem;
    }

    .shop-now {
        font-size: .8rem;
    }

    .about-desc {
        font-size: .8rem;
    }

    .left {
        position: absolute;
        background-color: $black;
        height: 82px;
        width: 82px;
        bottom: 0;
        right: 82px;
        text-align: center;
        border: none;
    }
    
    .right {
        position: absolute;
        background-color: $black;
        height: 82px;
        width: 82px;
        bottom: 0;
        right: 0;
        text-align: center;
        border: none;
    }

    .description {
        position: static;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .content .img-container2 {
        position: relative;
    }

    .img-container1 {
        height: 250px;
    }

    .img-container2 {
        height: 250px;
    }

    .about {
        padding-top: 60px;
        padding-bottom: 60px;
        width: 80%;
    }
  }

  @media screen and (max-width: 700px) {

    // Navbar hamburger menu
    .description {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .right {
        height: 60px;
        width: 60px;
    }

    .left {
        height: 60px;
        width: 60px;
        right: 60px;
    }


  }

  @media screen and (max-width: 400px) {

    // Navbar hamburger menu
    .navbar nav {
        background: transparent;
    }
    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        height: 100%;
        width: 50%;
    }

    
    .menu-toggler i {
        display: inline-block;
    }

    .links {
        display: none;
    }

    .logo-header {
        padding: 0;
    }

    .logo-isHamburger {
        display: inline;
        padding-right: 10px;
    }
    .desc-body {
        font-size: .7rem;
    }

  }










