/*------------------------------------*\
  #colors
\*------------------------------------*/

/* Background Colors */
$backgroundColors-primary:hsl(273, 75%, 66%);
$backgroundColors-secondary:hsl(240, 73%, 65%);

/* Hover text colors */
$textHover: hsl(14, 88%, 65%);

/* Question text colors */
$questionActive: hsl(238, 29%, 16%);
$questionInactive: hsl(237, 12%, 33%);
$answerActive: hsl(240, 6%, 50%);

/* Divider Colors */
$dividerHorizontal: hsl(240, 5%, 91%);


/*------------------------------------*\
  #fonts
\*------------------------------------*/

/*font family kumbh */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Font weights */
$font400: 400;
$font700: 700;

/* Font Family */
$family: 'Kumbh Sans', sans-serif;





/*------------------------------------*\
  #global-Styles
\*------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-family: $family;
}

ul { list-style: none; }

a { text-decoration: none; }





/*------------------------------------*\
  #utility-classes
\*------------------------------------*/
.fq-container {
  min-height: 100vh;
  padding: 30px 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient($backgroundColors-primary,$backgroundColors-secondary);
}


.fq-card__answer--hide {
  transition: all 2s;
  display: none;
}

.fq-card__header--bold {
  color: $questionActive;
  font-weight: $font700;
}

.fq-card__rotate--arrow-up {
  transition: all .5s;
  transform: rotate(180deg);

}

.fq-card__rotate-arrow-down {
  transform: rotate(-180deg);
  transition: all 1s;
}





/*------------------------------------*\
  #global card styles
\*------------------------------------*/

.fq-card {
  width: 850px;
  display: grid;
  padding: 70px;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px;
  background-color: white;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
  ;
}





/*------------------------------------*\
  #header placement and div width sizing for 
  card
\*------------------------------------*/

.fq-card {
  position: relative;
  overflow: hidden;
}

.fq-card__header {
  padding-bottom: 30px;
}

.fq-card__faqs {
  width: 100%;
}





/*------------------------------------*\
  #faq detail styles
\*------------------------------------*/

// Background floating image
.fq-card__image img:nth-child(1){
  display: block;
  position: absolute;
  top: 45px;
  left: -70px;
  width: 420px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 2;
  animation: float 4s ease-in-out infinite;
}

// image box on the container
.fq-card__image img:nth-child(2) {
  position: absolute;
  top: 155px;
  left: -125px;
  z-index: 1000;
  animation: float 4s ease-in-out infinite;
}

// background static image
.fq-card__image img:nth-child(3){
  // display: none;
  position: absolute;
  top: -240px;
  left: -450px;
  width: 800px;
}

// Animage float images
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

.fq-card__question {
  border-bottom: 1px solid $dividerHorizontal;
}

.fq-card-group {
  display: grid;
  grid-template-columns: 9fr 1fr;
  align-items: center;
}

.fq-card-group p:first-child {
  color: $questionInactive;
  font-size: .9rem;
  padding: 15px 0;
}

.fq-card-group,
.fq-card-group p:first-child:hover {
  cursor: pointer;
  color: $textHover;
}

.fq-card-group img {
  justify-self: center;
}

.fq-card__answer {
  font-size: .9rem;
  color: $answerActive;
  padding-bottom: 10px;
}






/*------------------------------------*\
  #Media Queries
\*------------------------------------*/
@media only screen and (max-width: 750px) {
  
  // Faq heading text center
  .fq-card__header {
    text-align: center;
  }
  
  // Change grid columns to 100% width
  .fq-card {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr;
    padding: 70px 30px;
    overflow: visible;
  }
  // Remove image
  .fq-card__image img:nth-child(3) {
    display: none;
  }
  
  // Adjust image size
  .fq-card__image img:nth-child(1) {
    position: absolute;
    width: 300px;
    top: -100px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    animation: float 4s ease-in-out infinite;
  }

  .fq-card__image img:nth-child(2) {
    position: absolute;
    width: 120px;
    top: -12px;
    right: -55px;
    left: -250px;
    margin-left: auto;
    margin-right: auto;
    animation: float 4s ease-in-out infinite;
  }

  .fq-card-group img {
    justify-self: end;
  }
}

@media only screen and (max-width: 450px) {

  // adjusting images sizes
  .fq-card {
    grid-template-rows: 1fr;
  }
  .fq-card__image img:nth-child(1) {
    position: absolute;
    width: 200px;
    top: -100px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    animation: float 4s ease-in-out infinite;
  }

  .fq-card__image img:nth-child(2) {
    position: absolute;
    width: 70px;
    top: -38px;
    right: -135px;
    left: -260px;
    margin-left: auto;
    margin-right: auto;
    animation: float 4s ease-in-out infinite;
  }
}








